@model  DataModel.RequestModel.Page<DataModel.ViewModel.ActicationCardExchangeModel>

@if (Model.Data != null)
{
    foreach (var item in Model.Data)
    {
        {
            <tr>
                <td width="10%">@item.num</td>
                <td width="0%"></td>
                    <td width="20%">@Common.Auxiliary.ConvertMobilePhone(item.ReUserName)</td>
                <td width="0%"></td>
                <td width="30%"><time>@item.CreateTime</time></td>
                <td width="0%"></td>
                <td width="20%">@item.Remark</td>
            </tr>
        }
    }
}